body {
    height: 100%;
}

.margin-left-1 {
    margin-left: 1rem;
}

.container {
    height: 60vh;
}

.container .row {
    border-radius: 0.8rem;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}