body {
    height: 100%;
}

.margin-left-1 {
    margin-left: 1rem;
}

.container {
    height: 60vh;
}

.container .row {
    border-radius: 0.8rem;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

.overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.w-85 {
    width: 85%;
}

.max-w-90 {
    max-width: 90%;
}

.min-w-50px {
    min-width: 30px;
}