.star-theme {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: "Anton", sans-serif;
    color: whitesmoke;
}

    .star-theme th {
        color: whitesmoke;
    }

    .star-theme td {
        color: #dbd7d7;
    }

    .star-theme .night {
        position: absolute;
        width: 100vw;
        transform: rotateZ(45deg);
        top: 50vh;
        opacity: 0.2;
    }

    .star-theme .shooting_star {
        position: absolute;
        left: 0;
        top: 50%;
        height: 2px;
        background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
        border-radius: 999px;
        filter: drop-shadow(0 0 6px #699bff);
        -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
        animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    }

.star-theme .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}

.star-theme .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}

    .star-theme .shooting_star:nth-child(1) {
        top: calc(50% - -138px);
        left: calc(50% - 89px);
        -webkit-animation-delay: 8408ms;
        animation-delay: 8408ms;
    }

        .star-theme .shooting_star:nth-child(1)::before, .star-theme .shooting_star:nth-child(1)::after {
            -webkit-animation-delay: 8408ms;
            animation-delay: 8408ms;
        }

    .star-theme .shooting_star:nth-child(2) {
        top: calc(50% - 103px);
        left: calc(50% - 131px);
        -webkit-animation-delay: 1777ms;
        animation-delay: 1777ms;
    }

        .star-theme .shooting_star:nth-child(2)::before, .star-theme .shooting_star:nth-child(2)::after {
            -webkit-animation-delay: 1777ms;
            animation-delay: 1777ms;
        }

    .star-theme .shooting_star:nth-child(3) {
        top: calc(50% - -55px);
        left: calc(50% - 137px);
        -webkit-animation-delay: 345ms;
        animation-delay: 345ms;
    }

        .star-theme .shooting_star:nth-child(3)::before, .star-theme .shooting_star:nth-child(3)::after {
            -webkit-animation-delay: 345ms;
            animation-delay: 345ms;
        }

    .star-theme .shooting_star:nth-child(4) {
        top: calc(50% - -62px);
        left: calc(50% - 41px);
        -webkit-animation-delay: 6628ms;
        animation-delay: 6628ms;
    }

        .star-theme .shooting_star:nth-child(4)::before, .star-theme .shooting_star:nth-child(4)::after {
            -webkit-animation-delay: 6628ms;
            animation-delay: 6628ms;
        }

    .star-theme .shooting_star:nth-child(5) {
        top: calc(50% - 127px);
        left: calc(50% - 109px);
        -webkit-animation-delay: 5092ms;
        animation-delay: 5092ms;
    }

        .star-theme .shooting_star:nth-child(5)::before, .star-theme .shooting_star:nth-child(5)::after {
            -webkit-animation-delay: 5092ms;
            animation-delay: 5092ms;
        }

    .star-theme .shooting_star:nth-child(6) {
        top: calc(50% - -168px);
        left: calc(50% - 95px);
        -webkit-animation-delay: 6794ms;
        animation-delay: 6794ms;
    }

        .star-theme .shooting_star:nth-child(6)::before, .star-theme .shooting_star:nth-child(6)::after {
            -webkit-animation-delay: 6794ms;
            animation-delay: 6794ms;
        }

    .star-theme .shooting_star:nth-child(7) {
        top: calc(50% - -104px);
        left: calc(50% - 206px);
        -webkit-animation-delay: 7651ms;
        animation-delay: 7651ms;
    }

        .star-theme .shooting_star:nth-child(7)::before, .star-theme .shooting_star:nth-child(7)::after {
            -webkit-animation-delay: 7651ms;
            animation-delay: 7651ms;
        }

    .star-theme .shooting_star:nth-child(8) {
        top: calc(50% - 91px);
        left: calc(50% - 107px);
        -webkit-animation-delay: 2319ms;
        animation-delay: 2319ms;
    }

        .star-theme .shooting_star:nth-child(8)::before, .star-theme .shooting_star:nth-child(8)::after {
            -webkit-animation-delay: 2319ms;
            animation-delay: 2319ms;
        }

    .star-theme .shooting_star:nth-child(9) {
        top: calc(50% - 128px);
        left: calc(50% - 67px);
        -webkit-animation-delay: 1103ms;
        animation-delay: 1103ms;
    }

        .star-theme .shooting_star:nth-child(9)::before, .star-theme .shooting_star:nth-child(9)::after {
            -webkit-animation-delay: 1103ms;
            animation-delay: 1103ms;
        }

    .star-theme .shooting_star:nth-child(10) {
        top: calc(50% - 49px);
        left: calc(50% - 141px);
        -webkit-animation-delay: 8095ms;
        animation-delay: 8095ms;
    }

        .star-theme .shooting_star:nth-child(10)::before, .star-theme .shooting_star:nth-child(10)::after {
            -webkit-animation-delay: 8095ms;
            animation-delay: 8095ms;
        }

    .star-theme .shooting_star:nth-child(11) {
        top: calc(50% - 8px);
        left: calc(50% - 82px);
        -webkit-animation-delay: 6849ms;
        animation-delay: 6849ms;
    }

        .star-theme .shooting_star:nth-child(11)::before, .star-theme .shooting_star:nth-child(11)::after {
            -webkit-animation-delay: 6849ms;
            animation-delay: 6849ms;
        }

    .star-theme .shooting_star:nth-child(12) {
        top: calc(50% - -94px);
        left: calc(50% - 197px);
        -webkit-animation-delay: 5141ms;
        animation-delay: 5141ms;
    }

        .star-theme .shooting_star:nth-child(12)::before, .star-theme .shooting_star:nth-child(12)::after {
            -webkit-animation-delay: 5141ms;
            animation-delay: 5141ms;
        }

    .star-theme .shooting_star:nth-child(13) {
        top: calc(50% - 89px);
        left: calc(50% - 12px);
        -webkit-animation-delay: 7654ms;
        animation-delay: 7654ms;
    }

        .star-theme .shooting_star:nth-child(13)::before, .star-theme .shooting_star:nth-child(13)::after {
            -webkit-animation-delay: 7654ms;
            animation-delay: 7654ms;
        }

    .star-theme .shooting_star:nth-child(14) {
        top: calc(50% - 170px);
        left: calc(50% - 96px);
        -webkit-animation-delay: 5582ms;
        animation-delay: 5582ms;
    }

        .star-theme .shooting_star:nth-child(14)::before, .star-theme .shooting_star:nth-child(14)::after {
            -webkit-animation-delay: 5582ms;
            animation-delay: 5582ms;
        }

    .star-theme .shooting_star:nth-child(15) {
        top: calc(50% - 86px);
        left: calc(50% - 234px);
        -webkit-animation-delay: 2337ms;
        animation-delay: 2337ms;
    }

        .star-theme .shooting_star:nth-child(15)::before, .star-theme .shooting_star:nth-child(15)::after {
            -webkit-animation-delay: 2337ms;
            animation-delay: 2337ms;
        }

    .star-theme .shooting_star:nth-child(16) {
        top: calc(50% - 166px);
        left: calc(50% - 70px);
        -webkit-animation-delay: 1973ms;
        animation-delay: 1973ms;
    }

        .star-theme .shooting_star:nth-child(16)::before, .star-theme .shooting_star:nth-child(16)::after {
            -webkit-animation-delay: 1973ms;
            animation-delay: 1973ms;
        }

    .star-theme .shooting_star:nth-child(17) {
        top: calc(50% - 48px);
        left: calc(50% - 288px);
        -webkit-animation-delay: 4066ms;
        animation-delay: 4066ms;
    }

        .star-theme .shooting_star:nth-child(17)::before, .star-theme .shooting_star:nth-child(17)::after {
            -webkit-animation-delay: 4066ms;
            animation-delay: 4066ms;
        }

    .star-theme .shooting_star:nth-child(18) {
        top: calc(50% - 88px);
        left: calc(50% - 74px);
        -webkit-animation-delay: 2749ms;
        animation-delay: 2749ms;
    }

        .star-theme .shooting_star:nth-child(18)::before, .star-theme .shooting_star:nth-child(18)::after {
            -webkit-animation-delay: 2749ms;
            animation-delay: 2749ms;
        }

    .star-theme .shooting_star:nth-child(19) {
        top: calc(50% - 118px);
        left: calc(50% - 300px);
        -webkit-animation-delay: 5408ms;
        animation-delay: 5408ms;
    }

        .star-theme .shooting_star:nth-child(19)::before, .star-theme .shooting_star:nth-child(19)::after {
            -webkit-animation-delay: 5408ms;
            animation-delay: 5408ms;
        }

    .star-theme .shooting_star:nth-child(20) {
        top: calc(50% - -21px);
        left: calc(50% - 49px);
        -webkit-animation-delay: 6347ms;
        animation-delay: 6347ms;
    }

        .star-theme .shooting_star:nth-child(20)::before, .star-theme .shooting_star:nth-child(20)::after {
            -webkit-animation-delay: 6347ms;
            animation-delay: 6347ms;
        }

@-webkit-keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}
