
<link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />

<div class='theme-picker'>
    <div class='row theme-picker__body'>
        <div class='col-md-3 theme-picker__body__item'>
            <div class='theme-picker__body__item__title'>
                <p>Quantum</p>
            </div>
            <div class='theme-picker__body__item__content'>
                <button type="button" value="quantum-theme" class="">
                    <img src="https://images.lumacdn.com/themes/thumb/quantum.jpg" alt="Preview for Quantum" class="jsx-1644095154">
                </button>
            </div>
        </div>
        <div class='col-md-3 theme-picker__body__item'>
            <div class='theme-picker__body__item__title'>
                <p>Sky Galaxy</p>
            </div>
            <div class='theme-picker__body__item__content'>
                <button type="button" value="sky-theme" class="">
                    <img src="https://images.lumacdn.com/themes/thumb/quantum.jpg" alt="Preview for Quantum" class="jsx-1644095154">
                </button>
            </div>
        </div>
        <div class='col-md-3  theme-picker__body__item'>
            <div class='theme-picker__body__item__title'>
                <p>Star Galaxy</p>
            </div>
            <div class='theme-picker__body__item__content'>
                <button type="button" value="star-theme" class="">
                    <img src="https://images.lumacdn.com/themes/thumb/quantum.jpg" alt="Preview for Quantum" class="jsx-1644095154">
                </button>
            </div>
        </div>
        <div class='col-md-3  theme-picker__body__item'>
            <div class='theme-picker__body__item__title'>
                <p>Mix Star&Sky</p>
            </div>
            <div class='theme-picker__body__item__content'>
                <button type="button" value="star-theme sky-theme" class="">
                    <img src="https://images.lumacdn.com/themes/thumb/quantum.jpg" alt="Preview for Quantum" class="jsx-1644095154">
                </button>
            </div>
        </div>
    </div>
</div>