@model WebSignalR.Pages.Menu.MenuModel;

<div class="col-md-4 col-xl-3 chat">
	<div class="card mb-sm-3 mb-md-0 contacts_card">
		<div class="card-header">
			<div class="input-group">
				<input type="text" placeholder="Search..." name="" class="form-control search">
				<div class="input-group-prepend">
					<span class="input-group-text search_btn">
						<a><i class="fas fa-search"></i></a>
						<a style="margin-left: 1rem;"></a>
						<a href="!#" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
							<i class="fa-solid fa-user-plus"></i>
						</a>
					</span>
				</div>
			</div>
		</div>
		<div class="card-body contacts_body">
			<ui class="contacts" id="groups">
				@{
					for (int i = 0; i < Model.Groups.Count(); i++)
					{
						<li @(i == 0 ? "class=active" : "")>
							<input type="hidden" name="group-id" class="group-id-sidebar" value="@Model.Groups.ElementAt(i).GroupId" />
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span class="group-name-sidebar">@Model.Groups.ElementAt(i).GroupName</span>
									<p>@Model.Groups.ElementAt(i).NumOfMember</p>
								</div>
							</div>
						</li>
					}
				}
				
			</ui>
		</div>
		<div class="card-footer"></div>
	</div>
</div>